
.albums {
    width: 100%;
    float: left;
}

.albums-inner {
    width: 1100px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
}

.albums-title {
    float: left;
    width: 100%;
    color: rgba(53,117,159,1);
    font-size: 20px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(53,117,159,1);
    line-height: 50px;
    margin-bottom: 100px;
}

.albums-tab {
    float: left;
    width: 300px;
    margin-right: 100px;
    /*margin-bottom: 100px;*/
}

    .albums-tab:nth-child(3n+0) {
        margin-right: 0px;
    }

.albums-tab-thumb {
    float: left;
    width: 300px;
    height: 200px;
}

    .albums-tab-thumb img {
        height: auto;
        width: 290px;
        background-color: rgba(255,255,255,1);
        padding: 5px;
    }

.albums-tab-text {
    float: left;
    width: 100%;
    text-align: center;
    color: rgba(53,117,159,1);
    margin-top: 15px;
    font-size: 18px;
}

    .albums-tab-text span {
        font-size: 14px;
        color: rgba(102,102,102,1);
    }

.all.studio {
    height: 200px;
    object-fit: contain;
}



.menu-toggle {
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    font-size: 1.25em;
    display: none;
    outline: none;
}

@media screen and (max-width: 767px) {
    .menu-toggle {
        display: block;
    }
}

@media screen and (min-width: 991px) {
    .menu-toggle {
        display: none;
    }
}

.menu {
    list-style: none;
    /*display: inline-block;*/
    margin-top: 5px;
}

@media screen and (max-width: 767px) {
    .main-navigation .menu {
        display: none;
    }
}

@media screen and (min-width: 991px) {
    .menu {
        display: block;
    }
}


    .menu li a {
        color: white;
        padding: 0 10px;       
        -webkit-transition: .3s ease;
        transition: .3s ease;
    }

        .menu li a:hover {
            color: #42a8f0;
        }

    .menu li.current-menu-item a {
        color: #1392ec;
    }


.mobile-navigation {
    clear: both;
    display: none;
}

@media screen and (min-width: 991px) {
    .mobile-navigation {
        display: none !important;
    }
}

.mobile-navigation .menu {
    list-style: none;
}

    .mobile-navigation .menu a {        
        display: block;
        color: white;
    }

    .mobile-navigation .menu .current-menu-item a {
        color: #1392ec;
    }

.breadcrumbs {
    background-color: #f1f1f1;
    padding: 10px 0;
    font-size: 14px;
    font-size: 0.875em;
}

    .breadcrumbs a {
        margin-right: 10px;
    }

        .breadcrumbs a:after {
            content: " ";
            width: 7px;
            height: 5px;
            background: url(images/arrow.png) no-repeat;
            display: inline-block;
            margin-left: 10px;
        }

        .menu-item{
            height:25px;
        }